<div class="uk-card uk-card-default uk-width-1-2@m">
    <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-border-circle" width="40" height="40" src="images/avatar.jpg">
            </div>
            <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">{{post.title}}</h3>
                <p class="uk-text-meta uk-margin-remove-top">{{post.user.email}}</p>
            </div>
        </div>
    </div>
    <div class="uk-card-body">
        <p>{{post.body}}</p>
    </div>
    <div class="uk-margin">
        <input class="uk-input uk-form-width-medium" type="text" placeholder="Add a Comment" id="postcomment">
    </div>
    <a class="uk-button uk-button-default" id="submitcomment">Comment</a>
    {{#each post.comments as |comment|}}
    <article class="uk-comment uk-comment-primary">
        <header class="uk-comment-header">
            <div class="uk-grid-medium uk-flex-middle">
                <div class="uk-width-auto">
                    <img class="uk-comment-avatar" src="images/avatar.jpg" width="80" height="80" alt="">
                </div>
                <div class="uk-width-expand">
                    <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset"
                            href="#">{{comment.user.email}}</a></h4>
                    <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">


                </div>
            </div>
        </header>
        <div class="uk-comment-body">
            <p>{{comment.body}}</p>
        </div>
    </article>
    {{/each}}
</div>
<script src="/js/comment.js"></script>